<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>if - for 문 써보자</title>
  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <ul>
        <!-- myArray 1~10까지 데이터를 담고 있음-->
        <!-- 짝수만 li tag에 등록-->

        <!--
              for 문 과 if 문을 같이 사용 가능하다
              <li v-for="item in myArray" v-if="item%2==0">
                  {{item}}
              </li>
        -->

        <!-- if 문을 Vue 객체 안에 담아서 사용-->
      <li v-for="item in myArray">
        {{item}}
      </li>
    </ul>

    <button @click="evenData()">짝수만 표시</button>
  </div>


  <script>
    new Vue({
      el: '#app',
      data: {
        myArray: [1, 2, 3, 4, 5, 6]
      },

      methods: {
        evenData: function () {
          // filter (배열에서만 가능) : myArray의 값을 하나씩 꺼내와 함수안의 val에 넣어 준다.
          this.myArray = this.myArray.filter(function (val) {
            
            // return의 조건에 맞는 것만 쓰겠다 ( 조건이 맞이 않으면 버림 )
            return val % 2 == 0;
          }) // << } 옵션 ) : 안에 옵션도 넣어 사용 가능
        }
      },
    })
  </script>
</body>

</html>